@import "tailwindcss";

@layer base {
  body {
    @apply bg-zinc-950 text-indigo-50 antialiased font-sans;
  }
}

@layer components {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}